body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #F7F6E7;
}

.page {
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.active {
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
}

#bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #42564F;
    padding: 10px 0;
}

#bottom-menu button {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
